<p id="notice"><%= notice %></p>

<%= link_to '+ Create Follow Contact', new_followup_path %>

<h1>Followups</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Project name</th>
      <th>Contact name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Contact date</th>
      <th>Followup date</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followups.each do |followup| %>
      <tr>
        <td><%= followup.status %></td>
        <td><%= followup.project_name %></td>
        <td><%= followup.contact_name %></td>
        <td><%= followup.email %></td>
        <td><%= followup.phone %></td>
        <td><%= followup.contact_date %></td>
        <td><%= followup.followup_date %></td>
        <td><%= followup.notes %></td>
        <td><%= link_to 'Show', followup %></td>
        <td><%= link_to 'Edit', edit_followup_path(followup) %></td>
        <td><%= link_to 'Destroy', followup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

