<div class="container">
<div class="row justify-content-center">
<% @followup.each do |follow| %>
		<div class="card w-75  mt-5 text-center justify-content-center" >
		  <!-- <div class="card-header">
		  	Priority
		  </div> -->
		  <div class="card-body">
		    <div class="card-title">
		    	<div class="sub-heading">
		    		<small>Hubungi pada:</small></div>
		    	<div class="heading">
		    		<h5><%= follow.contact_date %></h5>
		    	</div>
		    	</div>
		    <p class="card-text"><%= follow.notes.downcase %></p>
		    <%= link_to(follow.project_name, followup_path(follow), class: "btn btn-outline-warning" ) %></a>
		  </div>
		  <div class="card-footer text-muted">
		    <a href="https://wa.me/<%= follow.phone %>">
		    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="kirja whatsapp customer" style="width:50px">
		  </a>
		  </div>
		</div>
<% end %>
</div>
</div> 
</div>

<%= will_paginate @followups %>